<div class="container-fluid fixed" id="VueAapp">
    <div class="col-md-12" id="content">
        <div class="separator bottom line"></div>
          <ul class="breadcrumb">
            <li><a href="/" class="glyphicons home"><i></i> ORDER</a></li>
            <li class="divider"></li>
            <li>编辑回复</li>
        </ul>
        <br>
    <div class='inner'>
    	 <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <strong><%= error %></strong>
      </div>
      <% }else{ %>
      <form id='edit_reply_form' class="form-horizontal" action='/reply/<%= reply_id %>/edit' method='post'>
        <fieldset>
          <div class='markdown_editor in_editor'>
            <div class='markdown_in_editor'>
                <div class='form-group'>
              <textarea class='editor col-md-12' name='t_content' rows='20' autofocus><%= typeof(content) !== 'undefined' && content || '' %></textarea>
                </div>
              <div class='form-group'>
                <input type="submit" class='btn btn-primary submit_btn' data-loading-text="提交中.."
                       value="提交">
              </div>
            </div>

          </div>

        </fieldset>
      </form>
      <% } %>
    </div>
  </div>
</div>
<script>
 
</script>
