<div class="container-fluid fixed" id="VueAapp">
    <div class="col-md-12" id="content">
        <div class="heading-buttons">
            <h3>Ordering Lunch<span>| Simple and easy to use</span></h3>
            <div class="buttons pull-right">
            </div>
        </div>
        <br>
        <div class="separator bottom line"></div>
        <ul class="breadcrumb">
            <li><a href="/" class="glyphicons home"><i></i> ORDER</a></li>
            <li class="divider"></li>
            <li>
               密码找回
            </li>
        </ul>
        <br>
        <div class='inner'>
            <div class="col-md-5">
            <% if(typeof(error) !== 'undefined' && error){ %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <strong><%= error %></strong>
                </div>
                <% } %>
                <form id="signin_form" method="POST" action="/search_pass">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">电子邮箱</label>
                            <%if(typeof(email)!=='undefined'){%>
                            <input class='form-control' id='email' name='email' size='30' type='text' value='<%=email%>' />
                            <%}else{%>
                            <input class='form-control' id='email' name='email' size='30' type='text' />
                            <% } %>
                            <p class='help-block'>请输入您注册帐户时使用的电子邮箱</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
