<div class="container-fluid fixed" id="VueAapp">
    <div class="col-md-12" id="content">
        <ul class="breadcrumb">
            <li><a href="/" class="glyphicons home"><i></i> ORDER</a></li>
            <li class="divider"></li>
            <li>
                <%=title%>
            </li>
        </ul>
        <div class="separator bottom line"></div>
        
        <div class='inner' id="docs_icons">
            <h3><a href="#" class="glyphicons no-js circle_exclamation_mark"  style="font-size:18px;"><i></i><%=title%></a></h3>
            <p class="h4"><strong>初衷：</strong>由在地林每天中午吃饭订餐而来，加上最近了解学习Vue.js，相当于作为练手的demo，欢迎提建议！</p>
            <p class="h4"><strong>使用技术：</strong>nodejs+mongodb+ejs+Vue.js+Bootstrap3</p>
            <p class="h4"><strong>源码：</strong><a class="btn btn-link" href="https://github.com/giscafer/Vue-order" target="_blank">Github</a></p>
            <div class="separator"></div>
            <h3><a href="#" class="glyphicons no-js pinboard" style="font-size:18px;"><i></i>更新日志</a></h3>
           
            <ul style="font-size:18px">
                <li>添加用户信息设置功能，可对一般信息和密码修改 --- 2016年1月9日00:40:17</li>
            </ul>
            <br>
            <h3><a href="#" class="glyphicons no-js circle_info" style="font-size:18px;"><i></i>建议留言</a></h3>
            <p>（即将开放留言板功能）</p>
        </div>
    </div>
</div>