<div class="container-fluid fixed" id="VueAapp">
    <div class="col-md-12" id="content">
        <div class="heading-buttons">
            <h3>Ordering Lunch<span>| Simple and easy to use</span></h3>
            <div class="buttons pull-right">
            </div>
        </div>
        <br>
        <div class="separator bottom line"></div>
        <ul class="breadcrumb">
            <li><a href="/" class="glyphicons home"><i></i> ORDER</a></li>
            <li class="divider"></li>
            <li>
                <%=title%>
            </li>
        </ul>
        <br>
        <div class='inner'>
            <h3><%=title%></h3>
            <br>
            <p class="h4">灵感由在地林每天中午吃饭订餐而来，加上最近了解学习Vue.js，相当于作为练手的一个demo</p>
            <p class="h4">使用技术：nodejs+mongodb+ejs+Vue.js</p>
            <p class="h4">源码：<a class="btn btn-link" href="https://github.com/giscafer/Vue-order" target="_blank">Fork in Github</a></p>
            <a href="<%- typeof(referer) !== 'undefined' ? referer : '/' %>"><span class="span-common">返回</span></a>
        </div>
    </div>
</div>
