
<div id="main">
<%- partial('sidebar') %>
    <div id="content">
        <div class="panel">
            <h3>这里是首页（未完成开发，附上一张Web开发技术图谱填补空白；首页设计上是订餐主题相关的内容）</h3> <hr>
            <a href="https://github.com/giscafer/Front-end-technical-documentation/blob/master/000-Developer.md" target="_blank">
             <img style="max-width:900px" src="https://github.com/giscafer/Front-end-technical-documentation/raw/master/images/tree.gif" alt="Web Developer 成长路线图">
            </a>
            <hr>
        </div>
    </div>
</div>
