
<div id="main">
    <div id="mapContent" class="container">
        <div class="panel">
            <div class="row">
                <div class="panel-title col-lg-6" v-text="locationText"></div>
                <div class="form-group col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default-justified " type="button">search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel-body col-lg-12" style="height:520px;" id="orderMap"></div>
            </div>
        </div>
    </div>
</div>
<script>
var vue = new Vue({
    el: '#mapContent',
    ready: function() {
        debugger;
         $.post(Config.hostUrl+'/index/initMap', function(res) {
            var location=res.data;
            vue.initLocation(location);
        }).error(function(data, status, request) {
            console.log('fail' + status + "," + request);
        });
    },
    data: {
        locationText: '您当前位置：',
        map : new BMap.Map("orderMap"),
        pointMarker: {},
        local: {}
    },
    methods: {
        initLocation: function(location){
            this._data.locationText = "您当前位置："+location.content.formatted_address;
            var address = location.content.address_component.city||"北京";
            var point = location.content.location||{lng:116.404,lat:39.915};
            this.map.centerAndZoom(new BMap.Point(point.lng, point.lat), 15);  // 初始化地图,设置中心点坐标和地图级别
            this.map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            this.map.setCurrentCity(address);          // 设置地图显示的城市 此项是必须设置的
            this.map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300,157));
            this.pointMarker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
            this.map.addOverlay(this.pointMarker);
            this.local = new BMap.LocalSearch(this.map, {
                renderOptions:{map:this.map}
            });
            this.map.addEventListener('zoomend', function(e){
                vue.getNearbyCate(this.getBounds());
            });
            this.map.addEventListener('dragend', function(e){
                vue.getNearbyCate(this.getBounds());
            });
             this.getNearbyCate();
        },
        getNearbyCate: function(bounds){
            this.map.clearOverlays();
            var searchBounds = bounds||this.map.getBounds();
            this.local.searchInBounds("美食",searchBounds,function(e){
                alert(this);
            });
            this.map.addOverlay(this.pointMarker);
        }
    }
})
</script>
