<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Order</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="/libs/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/libs/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="/libs/css/theme/style.min.css">
    <link rel="stylesheet" href="/libs/css/theme/glyphicons.css">

    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/vue/1.0.7/vue.min.js"></script>
    <script src="/libs/js/jquery.formatdate.js"></script>
    <script src="http://cdn.bootcss.com/eventproxy/0.3.4/eventproxy.min.js"></script>
    <script src="/libs/js/bootstrap-dialog.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/libs/js/moment.min.js"></script>
    <script src="/libs/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/libs/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>

<body>
   <div class="navbar main" style="border-radius:0px">
        <div class="container">
            <div class="row">
                <div class="span12 relativeWrap">
                    <ul id="menu" class="hidden-phone">
                        <li class="active">
                            <a href="/" class="menuToggle">Order</a>
                        </li>
                        <li>
                            <a href="/charts" class="menuToggle">Charts</a>
                         <!--    <ul class="menu hide">
                             <li class=""><a href="finances.html"><span>Finances</span></a></li>
                             <li class="hasSubmenu">
                                 <a data-toggle="collapse" href="#menu_ecommerce"><span>Online Shop<i class="icon-chevron-right icon-white"></i></span></a>
                                 <ul class="collapse" id="menu_ecommerce">
                                     <li class=""><a href="products.html"><span>Products</span></a></li>
                                     <li class=""><a href="product_edit.html"><span>Add product</span></a></li>
                                 </ul>
                             </li>
                             <li class=""><a href="pages.html"><span>Site Pages</span></a></li>
                             <li class=""><a href="gallery.html"><span>Photo Gallery</span></a></li>
                             <li class=""><a href="bookings.html"><span>Bookings</span></a></li>
                         </ul> -->
                        </li>
                        <li>
                            <a href="/about" class="menuToggle">About</a>
                        </li>
                    </ul>
                    <span class="profile">
            <span>
              <strong>Giscafer</strong>
              <a href="#">edit account</a>
            </span>
                    <a class="img" href="#"><img src="http://www.placehold.it/74x74/232323&text=photo" alt="Mr. Giscafer" /></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id='main'>
        <%- body %>
    </div>
</body>
<br>
<footer class="footer navbar-fixed-bottom col-md-offset-10">
    <label class="input-control"> ©2016<a class="btn btn-link" href="http://giscafer.com/" target="_blank">giscafer</a></label>
    <a class="btn btn-link" href="https://github.com/giscafer/Vue-order-demo" target="_blank">Fork in Github</a>
</footer>
</html>
