<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Order</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="/libs/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/libs/css/bootstrap-dialog.min.css">
    <style type="text/css">
    td.highlight {
        background: rgb(246, 230, 182);
    }
    </style>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/vue/1.0.7/vue.min.js"></script>
    <script src="/libs/js/jquery.formatdate.js"></script>
    <script src="http://cdn.bootcss.com/eventproxy/0.3.4/eventproxy.min.js"></script>
    <script src="/libs/js/bootstrap-dialog.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/libs/js/moment.min.js"></script>
    <script src="/libs/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/libs/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>

<body>
    <div id='main'>
        <%- body %>
    </div>
</body>

</html>
