<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Order</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="/libs/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/libs/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="/libs/css/theme/style.min.css">
    <link rel="stylesheet" href="/libs/css/theme/glyphicons.css">

    <script src="/libs/common/config.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/vue/1.0.7/vue.min.js"></script>
    <script src="/libs/js/jquery.formatdate.js"></script>
    <script src="http://cdn.bootcss.com/eventproxy/0.3.4/eventproxy.min.js"></script>
    <script src="/libs/js/bootstrap-dialog.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/libs/js/moment.min.js"></script>
    <script src="/libs/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/libs/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>

<body>
   <div class="navbar main" style="border-radius:0px">
        <div class="container">
            <div class="row">
                <div class="span12 relativeWrap">
                    <ul id="menu" class="hidden-phone">
                        <li class=" <%= current_page==='index' ? 'active' : '' %>">
                            <a href="/" class="menuToggle">首页</a>
                        </li>
                        <li class=" <%= current_page==='orders' ? 'active' : '' %>">
                            <a href="/orders" class="menuToggle">订餐</a>
                        </li>
                        <li class=" <%= current_page==='charts' ? 'active' : '' %>">
                            <a href="/charts" class="menuToggle">统计</a>
                          
                        </li>
                        <li class="<%= current_page==='about' ? 'active' : '' %>">
                            <a href="/about" class="menuToggle">关于</a>
                        </li>
                         <li class="<%= current_page==='admin' ? 'active' : '' %>">
                            <a href="/about" class="menuToggle">管理</a>
                            <ul class="menu hide">
                             <li class=""><a href="/admin/user"><span>用户管理</span></a></li>
                         </ul>
                        </li>
                    </ul>
                    <span class="profile">
            <span>
            <% if (current_user) {%>
              <strong><%= current_user.name %>（<%= current_user.loginname %>）</strong><br>
              <a href="/setting" style="margin-right:20px">设置</a><a href="/signout" style="margin-right:10px">退出</a>
            </span>
            <a class="img" href="#"><img src="/assets/avatar.jpg" style="width:74px;height:74px;" /></a>
            <% } else { %>
                <a href="/signin">登录</a>
                <label style="color:white">&nbsp;|&nbsp;</label>
                <a href="/signup">注册</a>
            <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id='main'>
        <%- body %>
    </div>
    <script src="/libs/js/theme/load.js"></script>
</body>
<br>
<footer class="footer navbar-fixed-bottom col-md-offset-10">
    <label class="input-control"> ©2016<a class="btn btn-link" href="http://giscafer.com/" target="_blank">giscafer</a></label>
    <a class="btn btn-link" href="https://github.com/giscafer/Vue-order" target="_blank">Fork in Github</a>
</footer>
</html>
