<div id='sidebar'>

  <% if (current_user) { %>
  <div class="panel panel-default">
    <div class='panel-body'>
      <a href='/orders' id='create_order_btn'>
        <span class='btn btn-success'>订餐入口</span>
      </a>
    </div>
  </div>
  <% } %>
<% if (typeof(lasts) !== 'undefined') { %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='col_fade'>最新加入</span>
    </div>
    <div class='inner'>
      <% if (lasts.length > 0) { %>
      <ol>
        <%- partial('user/last', { collection: lasts, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>
  <% if (typeof(tops) !== 'undefined') { %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='col_fade'>积分榜</span>
      &nbsp;
      <a class='dark' href='/users/top10'>TOP 10 &gt;&gt;</a>
    </div>
    <div class='inner'>
      <% if (tops.length > 0) { %>
      <ol>
        <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='col_fade'>友情链接</span>
    </div>
    <div class='inner'>
      <ol class="friendship-community">
        <li>
          <a href="http://bbs.gis520.com/" target="_blank">
            <img src="http://bbs.gis520.com/template/dean_guokr_140409/deancss/logo.png">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://giscafer.com/" target="_blank">
            <img src="/assets/img/giscaferblog.png">
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='col_fade'>Web全栈（微信公众号webfsd）</span>
    </div>
    <div class='inner cnode-app-download'>
      <img src="/assets/img/qrcode_for_webfsd.jpg">
    </div>
  </div>
<div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='col_fade'>作者微博</span>
    </div>
    <div class='inner cnode-app-download'>
      <img src="/assets/img/weibo.jpg">
    </div>
  </div>
</div>
