<div class="container-fluid fixed" id="messageboard">
    <div class="col-md-12" id="content">
        <ul class="breadcrumb">
            <li><a href="/" class="glyphicons home"><i></i> ORDER</a></li>
            <li class="divider"></li>
            <li>
                <%=pageTitle%>
            </li>
        </ul>
        <div class="separator bottom line"></div>

        <div class='inner' id="docs_icons">
            <h3><a href="#" class="glyphicons no-js circle_exclamation_mark"  style="font-size:18px;"><i></i><%=pageTitle%></a></h3>
            <p class="h4"><strong>初衷：</strong>由在地林每天中午吃饭订餐而来，加上最近了解学习Vue.js，相当于作为练手的demo，欢迎提建议！</p>
            <p class="h4"><strong>使用技术：</strong>nodejs+mongodb+ejs+Vue.js+Bootstrap3</p>
            <p class="h4"><strong>源码：</strong><a class="btn btn-link" href="https://github.com/giscafer/Vue-order" target="_blank">Github</a></p>
            <div id="donate">
            <span class="wrapper" style="width: 72px">
              <img src="/assets/img/weixinpay.png">
              <a>打个赏</a>
            </span>
        </div>
            <div class="separator"></div>
            <h3><a href="#" class="glyphicons no-js pinboard" style="font-size:18px;"><i></i>更新日志</a></h3>

            <ul style="font-size:18px">
                <li>新增：用户信息设置功能，可对一般信息和密码修改 --- 2016年1月9日00:40:17</li>
                <li>新增：评论回复功能 --- 2016年1月14日00:16:53</li>
                <li>新增：订餐短信通知功能（由于短信是收费的，不便将该功能开放出来使用，对此特意写了demo给想要学习的朋友参考，请移步<a href="https://github.com/giscafer/alidayujs-demo" target="_blank">alidayujs-demo</a>）</li>
                <li>新增：用户管理（管理员功能） --- 2016年1月20日22:01:53</li>
                <li>新增：图表统计 --- 2016年2月6日00:37:18</li>
            </ul>
            <br>
            <h3><a href="#" class="glyphicons no-js circle_info" style="font-size:18px;"><i></i>建议留言</a></h3>
            <% if (!current_user) { %>
                <span>留言需要登录</span>
            <%}%>
        </div>
    </div>
    <% if (message_board.replies && message_board.replies.length > 0) { %>
        <div class='panel success' style="box-shadow: none;">
            <div class='panel-heading'>
                <span class='panel-title'><%= message_board.replies.length %> 回复</span>
            </div>
            <%- partial('../reply/reply', message_board.replies) %>
        </div>
         
        <% } %>
            <% if (current_user) { %>
                <div class='panel success col-md-12'>
                    <div class='panel-heading'>
                        <h4 class='panel-title'>添加回复</h4>
                    </div>
                    <div class='panel-body'>
                        <form id='reply_form' action='/messageboard/reply' method='post' class="form-horizontal">
                            <div class="form-group">
                                <textarea class='editor  col-md-12' name='r_content' rows='4'></textarea>
                            </div>
                            <div>
                                <input class='btn btn-primary' type="submit" data-loading-text="回复中.." value="回复">
                            </div>
                        </form>
                    </div>
                </div>
                <% } %>
</div>
<div id="qrcode" class="hidden">
    <h3>微信打赏，支持作者:)</h3>
    <img src="/assets/img/qrcode_forpay.jpg">
 </div>
<script>
 // donate
(function () {
  var code = document.getElementById('qrcode')
  var isOpen = false

  document.getElementById('donate').addEventListener('click', function (e) {
    e.stopPropagation()
    if (isOpen) return
    isOpen = true
    code.style.display = 'block'
    var f = code.offsetHeight
    code.classList.remove('hidden')
  })

  document.body.addEventListener('click', function () {
    if (isOpen) {
      isOpen = false
      code.classList.add('hidden')
      setTimeout(function () {
        code.style.display = ''
      }, 250)
    }
  })
})()

    $(document).ready(function () {
          
    // 评论回复
    $('#messageboard .reply2_btn').on('click',function (event) {
        console.log(event)
        var $btn = $(event.currentTarget);
        var parent = $btn.closest('.reply_area');
        var editorWrap = parent.find('.reply2_area');
        // parent.find('.reply2_area').prepend(editorWrap);
        var user = $btn.closest('.user_content').find('.reply_user').text().trim();
        editorWrap.show('fast', function () {
            var $at=$btn.closest('.reply_area').find('.reply_editor')
            $at.focus();
            if ($at.html().indexOf('@' + user) < 0) {
                $at.html('@' + user + ' ');
            }
        });
    });
    // 删除回复
    $('#messageboard').on('click', '.delete_reply_btn, .delete_reply2_btn', function (event) {
      var $me = $(event.currentTarget);
      if (confirm('确定要删除此回复吗？')) {
        var reply_id = null;
        if ($me.hasClass('delete_reply_btn')) {
          reply_id = $me.closest('.reply_item').attr('reply_id');
        }
        var data = {
          reply_id: reply_id
        };
        $.post('/reply/' + reply_id + '/delete', data, function (data) {
          if (data.status === 'success') {
            if ($me.hasClass('delete_reply_btn')) {
              $me.closest('.reply_item').remove();
            }
          }
        }, 'json');
      }
      return false;
    });
    // END 删除回复
    // 用户 hover 在回复框时才显示点赞按钮
    $('.reply_area').hover(
      function () {
        $(this).find('.up_btn').removeClass('invisible');
      },
      function () {
        var $this = $(this);
        if ($this.find('.up-count').text().trim() === '') {
          $this.find('.up_btn').addClass('invisible');
        }
      });
    // END 用户 hover 在回复框时才显示点赞按钮
      // 点赞
  $('.up_btn').click(function (e) {
    var $this = $(this);
    var replyId = $this.closest('.reply_area').attr('reply_id');
    $.ajax({
      url: '/reply/' + replyId + '/up',
      method: 'POST',
    }).done(function (data) {
      if (data.success) {
        $this.removeClass('invisible');
        var currentCount = Number($this.next('.up-count').text().trim()) || 0;
        if (data.action === 'up') {
          $this.next('.up-count').text(currentCount + 1);
          $this.addClass('uped');
        } else {
          if (data.action === 'down') {
            $this.next('.up-count').text(currentCount - 1);
            $this.removeClass('uped');
          }
        }
      } else {
        alert(data.message);
      }
    }).fail(function (xhr) {
      if (xhr.status === 403) {
        alert('请先登录，登陆后方可点赞。');
      }
    });
  });
  // END 点赞
});

</script>