    <form action="/orders" method='post'>
    <legend>订餐</legend>
        <div class="form-group">
            <label for="dish_name">菜名</label>
            <input type="text" class="form-control" name="dish_name" id="dish_name" placeholder="请输入菜名">
        </div>
        <div class="form-group">
            <label for="dish_price">价格</label>
            <input type="text" class="form-control" name="dish_price" id="dish_price" placeholder="请输入价格">
            <!-- <input type="text" class="form-control" name="user_id" id="user_id" value="" style="display:none;"> -->
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>

