<script src="/libs/common/charts.js"></script>
<div class="container-fluid fixed">
    <div class="col-md-12" id="content">
        <div class="heading-buttons">
            <h3><%=title%></h3>
            <div class="buttons pull-right">
            </div>
        </div>
        <br>
        <div class="separator bottom line"></div>
        <div class='inner'>
             <ul class="breadcrumb">
                <li>土豪排行榜</li>
            </ul>
            <br>
                <div id="richOrdersChart"></div>
            <br>
            <ul class="breadcrumb">
                <li>热门排行榜</li>
            </ul>
            <br>
            <div id="hotOrdersChart"></div>
            <br>
            
             <% if (current_user) { %>
                <ul class="breadcrumb">
                    <li>个人常吃统计</li>
                </ul>
                <br>
                <div id="personalOrderChart"></div>
            <% } %>
            <br>
        </div>
    </div>
</div>
<script>
$(function () {
    //全部
    $.post(Config.hostUrl+'/charts/all/statistics', function(res) {
        var options={};
        options.title='热门订餐统计';
        options.divId='hotOrdersChart';
        var orders=res.data;
        
        resultHandler(orders,options);
        richStatis();
    }).error(function(data, status, request) {
        console.log('fail' + status + "," + request);
    });
    //个人
    function personalStatic(){
        var $personalDiv=$("#personalOrderChart");
        if(!$personalDiv.length) return;
        $.post(Config.hostUrl+'/charts/personal/statistics', function(res) {
            var options={};
            options.title='个人常吃统计';
            options.divId='personalOrderChart';
            var orders=res.data;
            resultHandler(orders,options);
        }).error(function(data, status, request) {
            console.log('fail' + status + "," + request);
        });
    }
    function richStatis(){
       $.post(Config.hostUrl+'/charts/rich/statistics', function(res) {
            var options={};
            options.title='土豪排行统计';
            options.divId='richOrdersChart';
            var orders=res.data;
            richResultHandler(orders,options);
            personalStatic();
        }).error(function(data, status, request) {
            console.log('fail' + status + "," + request);
        });
    }
});
function richResultHandler(orders,options){
    if(!orders.length){
         $("#richOrdersChart").html('无数据');
            return;
    }
    var xAxis=[];
    var series=[{name:'消费',data:[],danwei:'元'},{name:'菜数',data:[],danwei:'盘'}];
    orders.forEach(function(item,i){
       xAxis[i]=item.username;
       series[0].data[i]=item.value.cost;
       series[1].data[i]=item.value.count;
    });
    options.xAxis=xAxis;
    options.series=series;
    options.ytitle="金额（元）";
    ChartsUtil.createColumn(options);
}
function resultHandler(orders,options){
    if(!orders.length){
        $("#personalOrderChart").html('无订餐数据');
        return;
    }
    var dataItems = [];
    for(var i=0;i<orders.length;i++){
        var obj={
            name:orders[i]._id,
            y:orders[i].value.count || 1
        }
        dataItems[dataItems.length]=obj;
    }
    options.dataItems=dataItems;
    ChartsUtil.createPie(options);
}

</script>