<div class="container-fluid fixed" id="VueAapp">
    <div class="col-md-12" id="content">
        <div class="heading-buttons">
            <h3>Ordering Lunch<span>| Simple and easy to use</span></h3>
            <div class="buttons pull-right">
            </div>
        </div>
        <br>
        <div class="separator bottom line"></div>
          <ul class="breadcrumb">
            <li><a href="/" class="glyphicons home"><i></i> ORDER</a></li>
            <li class="divider"></li>
            <li><%=title%></li>
        </ul>
        <br>
    <div class='inner'>
    	<h3>尚未开发……</h3>
        <a href="/"><span class="span-common">返回</span></a>
    </div>
  </div>
</div>
